In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('adult.data.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             32561 non-null  int64
 1   workclass       32561 non-null  object
 2   fnlwgt          32561 non-null  int64
 3   education       32561 non-null  object
 4   education-num   32561 non-null  int64
 5   marital-status  32561 non-null  object
 6   occupation      32561 non-null  object
 7   relationship    32561 non-null  object
 8   race            32561 non-null  object
 9   sex             32561 non-null  object
 10  capital-gain    32561 non-null  int64
 11  capital-loss    32561 non-null  int64
 12  hours-per-week  32561 non-null  int64
 13  native-country  32561 non-null  object
 14  salary          32561 non-null  object
dtypes: int64(6), object(9)
memory usage: 3.7+ MB

In [3]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

* How many people of each race are represented in this dataset? This should be a Pandas series with race names as the index labels. (`race` column)

In [4]:
df['race'].value_counts()

White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: race, dtype: int64

* What is the average age of men?

In [5]:
df['age'][df['sex'] == 'Male'].mean()

39.43354749885268

* What is the percentage of people who have a Bachelor's degree?

In [9]:
len(df[df["education"] == "Bachelors"]) / len(df)

0.16446055096587942

* What percentage of people with advanced education (`Bachelors`, `Masters`, or `Doctorate`) make more than 50K?

In [11]:
len(df[(df.education.isin(["Bachelors", "Masters", "Doctorate"]) ) & (df.salary == ">50K")])/len(df)

0.10706059396210191

In [12]:
df.shape

(32561, 15)

In [13]:
len(df[(~ df.education.isin(["Bachelors", "Masters", "Doctorate"]) ) & (df.salary == ">50K")])/len(df)

0.13374896348392248

In [14]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [16]:
df["hours-per-week"].min()

1

In [17]:
len(df[(df["hours-per-week"] == df["hours-per-week"].min() ) & (df.salary == ">50K")])/len(df)

6.142317496391388e-05

In [20]:
df[["native-country", "salary"]][df["salary"] == ">50K"].sum()

native-country      salary
United-States       >50K      7171
?                   >50K       146
Philippines         >50K        61
Germany             >50K        44
India               >50K        40
Canada              >50K        39
Mexico              >50K        33
England             >50K        30
Italy               >50K        25
Cuba                >50K        25
Japan               >50K        24
China               >50K        20
Taiwan              >50K        20
Iran                >50K        18
South               >50K        16
Poland              >50K        12
France              >50K        12
Puerto-Rico         >50K        12
Jamaica             >50K        10
El-Salvador         >50K         9
Greece              >50K         8
Cambodia            >50K         7
Yugoslavia          >50K         6
Hong                >50K         6
Ireland             >50K         5
Vietnam             >50K         5
Ecuador             >50K         4
Haiti               >50K         4
Portugal            >50K         4
Scotland            >50K         3
Thailand            >50K         3
Hungary             >50K         3
Guatemala           >50K         3
Laos                >50K         2
Dominican-Republic  >50K         2
Peru                >50K         2
Trinadad&Tobago     >50K         2
Columbia            >50K         2
Nicaragua           >50K         2
Honduras            >50K         1
dtype: int64